body {
  width: 100%;
  /* border: 1px solid black; */
  background-color: #eaeaea;

  font-family: Roboto, sans-serif;
}
#top {
  height: 35px;
  width: 100%;
  /* border: 1px solid red; */
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: #3e3e3e;
  /* padding: 0px 300px; */
}
#bottom {
  height: 50px;
  width: 100%;
  /* border: 1px solid red; */
  margin: auto;
  background-color: #3e3e3e;
  position: sticky;
  top: 0px;
  /* display: flex;
  justify-content: center;
  align-items: center;*/
}
.content {
  width: 85%;
  height: 50px;
  margin: auto;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#top > button:hover {
  background-color: black;
  cursor: pointer;
  border-radius: 2px;
}
button {
  font-size: 10px;
  border: none;
  background-color: #3e3e3e;
  color: #b2b2b2;
}
#logo img {
  width: 120px;
  height: 40px;
  padding: 0;
}
a {
  color: white;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}
.alignment {
  display: none;
  /* justify-content: flex-start; */
  width: 38.5%;
  margin-top: -5px;
  height: 30px;
  margin-left: 262px;
  padding-bottom: 8px;
  /* background-color: #3e3e3e; */
}
.more {
  font-size: 30px;
  font-weight: bold;
  margin-top: 14px;
  color: white;
  cursor: pointer;
}
.bottom-navbar:hover {
  border-bottom: 1px solid white;
}
.logo {
  position: relative;
  display: inline-block;
}

.logo .text {
  visibility: hidden;
  width: 120px;
  background-color: #3e3e3e;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 50%;
  margin-left: -60px;
}

.logo:hover .text {
  visibility: visible;
}
.logo img {
  width: 30px;
  height: 30px;
  margin-left: -15px;
}
#news {
  width: 85%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  padding-left: 25px;
}
#lhs {
  width: 340px;
  margin-right: 25px;
}
#bigstory {
  height: 290px;
  width: 100%;
  background-color: #ffffff;
}
#bigstory h3 {
  color: #434343;
  font-size: 16px;
  padding-left: 10px;
}
#topstory {
  width: 100%;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 100px);
}
#title {
  margin-top: 20px;
  height: 20px;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
  background-color: #ffffff;
}
#title p {
  padding-left: 15px;
  padding-top: 15px;
}
.story-container {
  display: flex;
  width: 310px;
  height: 77px;
  margin: auto;
}
.story-heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  padding-left: 12px;
  color: #434343;
}
#mid {
  margin-right: 25px;
}
#headline {
  width: 570px;
  height: 351px;
  margin-bottom: 20px;
  background-color: #ffffff;
}
#headline img {
  width: 100%;
  height: 280px;
  margin-bottom: -10px;
}
#heading {
  font-size: 21px;
  font-weight: 850;
  line-height: 25px;
  text-align: center;
  padding: 0px 15px;
  font-family: Roboto, sans-serif;
}
.shortnews1 {
  width: 570px;
  height: 240px;
  display: grid;
  grid-template-columns: repeat(2, 277px);
  grid-template-rows: repeat(1, 240px);
  gap: 16px;
}
.shortnews1 div {
  background-color: #ffffff;
}
.shortnews1 h4 {
  padding-left: 15px;
  font-weight: light;
}
.shortnews1 img {
  width: 276px;
  height: 170px;
  margin-bottom: -15px;
}
.shortnews2 {
  width: 570px;
  height: 236px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 372px 180px);
  grid-template-rows: repeat(1, 1fr);
  gap: 18px;
}
.shortnews2 > .first-div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 105px);
}
.sn2 {
  display: flex;
  padding: 10px;
  background-color: #ffffff;
  font-weight: lighter;
}
#modiImg {
  position: absolute;
  width: 100%;
  height: 310px;
  z-index: -1;
  margin-top: -20px;
}
#modiHeading {
  color: whitesmoke;
  text-align: center;
  padding: 200px 1px 0px 1px;
}
.scroll {
  width: 300px;
  height: 350px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.scroll > div:first-child {
  background-color: #f1f1f1;
  margin-top: -18px;
  height: 40px;
}
.scroll > div > h3 {
  padding: 10px 0px 0px 15px;
}
#amazon {
  width: 300px;
  height: 450px;
  margin-top: 30px;
}
.scroll-container {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}
.scroll-page > div > p:first-child {
  margin-bottom: -18px;
}
.scroll-page > div > p:last-child {
  padding: 5px;
  padding-left: 10px;
  cursor: pointer;
}
.scroll-page img {
  width: 100px;
  height: 70px;
}
